pandas
transformers
torch
faiss-cpu
langchain
langchain-community
langchain-huggingface
chromadb
fastapi
uvicorn
sentence-transformers
pypdf
bitsandbytes
accelerate
pymongo
requests
pydantic
pytesseract